# Frontend Environment Variables
VITE_POLKADOT_RPC_URL=wss://westend-rpc.polkadot.io
VITE_IPFS_GATEWAY=https://ipfs.io/ipfs/

# Services Environment Variables
PORT=3001
POLKADOT_RPC_URL=wss://westend-rpc.polkadot.io
IPFS_API_URL=https://ipfs.infura.io:5001

